[Unit]
Description=Check GitHub for CrowdFund updates every 2 minutes

[Timer]
OnBootSec=90s
OnUnitActiveSec=2min
RandomizedDelaySec=20

[Install]
WantedBy=timers.target
